PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE sessions (sid PRIMARY KEY, expired, sess);
INSERT INTO sessions VALUES('q48OQrF75OhaqqG938EHS-gEG8rPt3QY',1751645550242.0,'{"cookie":{"originalMaxAge":3600000,"expires":"2025-07-04T16:12:15.437Z","httpOnly":true,"path":"/"},"passport":{"user":2},"user":{"id":2,"username":"firas","role":"user"},"flash":{}}');
CREATE TABLE users (
    id INTEGER PRIMARY KEY,
    username TEXT NOT NULL,
    email TEXT NOT NULL,
    password TEXT NOT NULL,
    role TEXT NOT NULL
    );
INSERT INTO users VALUES(1,'admin','admin@outlook.com','$2b$10$Q1RKUZ/pa0i568ONKj.vmeug5ILLi99wgHI2jx12HX/DTCPy8lgq2','admin');
INSERT INTO users VALUES(2,'firas','firas@gmail.com','$2b$10$gNBZPnZAAcY8KJeLvia1fO6ZYRFxYcxej9pUOF2C0I/rjiHa3SbiG','user');
INSERT INTO users VALUES(3,'marco','marco@gmail.com','$2b$10$XUVFnC57LtIgEhsJ.TP22OrEitGCsoRJlO6ADxKAFId/E0pQKNCA.','user');
CREATE TABLE books (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        title TEXT NOT NULL,
        author TEXT NOT NULL,
        genre TEXT,
        description TEXT,
        cover_url TEXT,
        added_by INTEGER,
        created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
        FOREIGN KEY (added_by) REFERENCES users(id));
INSERT INTO books VALUES(150,'The Climate Book','Greta Thunberg','Science','The Climate Book punta a cambiare per sempre il dibattito sul clima, grazie alla collaborazione di oltre 100 tra i pi├╣ autorevoli esperti in materia che condivideranno competenze ed esperienze con le persone di tutto il mondo.','https://www.mondadori.it/content/uploads/2022/11/978880476465HIG-260x360.jpg?x48112',NULL,'2025-07-04 14:36:04');
INSERT INTO books VALUES(151,'Manufacturing Consent','Noam Chomsky, Edward S. Herman','politics','Explore the influential book "Manufacturing Consent" by Noam Chomsky and Edward S. Herman on media, propaganda, and democracy.','https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fen%2Fc%2Fce%2FManugactorinconsent2.jpg&f=1&nofb=1&ipt=93d97cca373ed45cf4adad1e800703216ebf2b3b3ae5e59fa47ad4bb4b37d18c',NULL,'2025-07-04 14:40:59');
INSERT INTO books VALUES(152,'Dune','Frank Herbert','Fantasy','Dune, Frank HerbertÔÇÖs epic science-fiction masterpiece set in the far future amidst a sprawling feudal interstellar society, tells the story of Paul Atreides as he and his family accept control of the desert planet Arrakis.','https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages-na.ssl-images-amazon.com%2Fimages%2FS%2Fcompressed.photo.goodreads.com%2Fbooks%2F1592650253i%2F50395705.jpg&f=1&nofb=1&ipt=9124fd202f3dce485312e1f2c65b77ede13c731baec14e1e0e145935e7d52a47',2,'2025-07-04 14:42:00');
CREATE TABLE user_books (
    user_id INTEGER,
    book_id INTEGER,
    added_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (user_id, book_id),
    FOREIGN KEY (user_id) REFERENCES users (id),
    FOREIGN KEY (book_id) REFERENCES books(id) );
INSERT INTO user_books VALUES(2,152,'2025-07-04 14:42:00');
INSERT INTO user_books VALUES(2,153,'2025-07-04 14:43:11');
INSERT INTO user_books VALUES(3,154,'2025-07-04 14:46:08');
CREATE TABLE reviews (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        user_id INTEGER NOT NULL,
        book_id INTEGER NOT NULL,
        content TEXT NOT NULL,
        rating INTEGER CHECK (rating BETWEEN 1 AND 5),
        created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
        FOREIGN KEY (user_id) REFERENCES users(id),
        FOREIGN KEY (book_id) REFERENCES books(id)
        );
INSERT INTO reviews VALUES(29,2,152,'Lisan Al-Ghaib!!!',4,'2025-07-04 14:43:57');
INSERT INTO reviews VALUES(30,3,154,'Fantastico tuffo nel mondo di Claude Monet.',4,'2025-07-04 14:46:48');
INSERT INTO reviews VALUES(31,4,155,'Lo consiglio fortemente!',4,'2025-07-04 14:48:39');
CREATE TABLE booksOfTheMonth (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        book_id INTEGER NOT NULL,
        FOREIGN KEY (book_id) REFERENCES books (id) ON DELETE CASCADE
        UNIQUE(id)
    );
INSERT INTO booksOfTheMonth VALUES(23,150);
INSERT INTO booksOfTheMonth VALUES(24,151);
INSERT INTO sqlite_sequence VALUES('books',156);
INSERT INTO sqlite_sequence VALUES('reviews',34);
INSERT INTO sqlite_sequence VALUES('booksOfTheMonth',24);
COMMIT;
