<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Firas Tabai"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About | Booksters</title>
  <link rel="stylesheet" href="/css/style.css"> <!-- <== Questo è fondamentale -->
</head>
<body>
  <div class="about-container">
  <h1>About Booksters</h1>
  <p>
    Booksters è una piattaforma web pensata per gli appassionati di lettura (e per incentivare il suo creatore di leggere di più).
    Il sito permette agli utenti di:
  </p>  
  <ul>
    <li>Aggiungere libri alla propria libreria personale accessibili sotto la voce My Library</li>
    <li>Leggere e scrivere recensioni</li>
    <li>Scoprire i libri del mese selezionati dall'amministratore della piattaforma</li>
    <li>Condividere le proprie opinioni con altri utenti</li>
  </ul>
  <p>
    Il sito è stato realizzato come progetto per il corso MPW e utilizza Node.js, Express e SQLite.
    Tutti i diritti riservati. 
  </p>
</div>
</body>
</html>
