<!-- src/views/register.ejs -->
<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/login-style.css">
  <title>Register | Booksters</title>
</head>
<body>
  <div class="login-box">
    <div class="image-box">
      <img src="/images/login-bookshelf.jpg" alt="Scaffali di libri e scale">
    </div>
    <div class="inner-login-box">
      <h1>Sign-up</h1>
      <% if (error_msg) { %>
        <div class="alert alert-danger"><%= error_msg %></div>
      <% } %>
      <% if (success_msg) { %>
        <div class="alert alert-success"><%= success_msg %></div>
      <% } %>
      <form id="register-form" action="/register" method="POST">
        <ul>
          <li>
            <label for="username">Enter Your Username</label>
            <div class="input-control">
              <input type="text" id="username" name="username" size="30" required>
              <div class="error"></div>
            </div>
          </li>
          <li>
            <label for="email">Enter Your Email</label>
            <div class="input-control">
              <input type="email" id="email" name="email" size="30" required>
              <div class="error"></div>
            </div>
          </li>
          <li>
            <label for="password">Enter Your Password</label>
            <div class="input-control">
              <input type="password" id="password" name="password" size="30" required>
              <div class="error"></div>
            </div>
          </li>
          <li>
            <label for="confirm-password">Confirm Your Password</label>
            <div class="input-control">
              <input type="password" id="confirm-password" name="confirm-password" size="30" required>
              <div class="error"></div>
            </div>
          </li>
          <li>
            <button type="submit">Register</button>
            <p>Already have an account? <a href="/login">Sign-in</a></p>
          </li>
        </ul>
      </form>
    </div>
  </div>
  <script src="/public/javascripts/form-validation.js" defer></script>
</body>
</html>
