    /* Global styling */
    a {
        text-decoration: none; /* Removes the lines under links */ 
        margin: 20px;
    }

    ul {
        list-style-type: none;
    }

    .home-image {
        position: relative;
        width: 100%;  /* This makes the .home-image container span the full width of the <body>, which is essentially the width of the viewport. */
        height: 100vh; /* This sets the height of .home-image to be 100% of the viewport height. Since <body> is the full viewport height, 
        .home-image will also be the full viewport height. */
        overflow: visibile;  /*  This ensures that any content (like the image) that exceeds the container's boundaries will be clipped and not visible outside the container. */
        opacity: 70%;
    }

    .home-image img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* The image inside .home-image is styled to fill the container using width: 100%; and height: 100%;,
        with object-fit: cover; to ensure it covers the entire area of the container, even if it means cropping. */
    }

    .home-image h1, .home-image h3{
        position: absolute;
        color: white;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    .home-image h1 {
        top: 30%; 
        font-size: 70px;
    }

    .home-image h3{
        top: 50%; 
        /* font-size: 50px; */
    }

    [type=button] {
        cursor: pointer;
        border: none;
        border-radius: 5px;
        padding: 5px;
    }

    /* Navbar styling */
    .nav-items ul {
        display: flex;
        padding: 0;
        margin: 0;
    }

    .nav-items input[type=text] {
        margin-left: auto; /* Pushes the search bar to the far right */
        margin-right: 20px;
        padding: 5px; /* Adds padding inside the search bar */
        border: none;
        border-radius: 5px; /* Rounds the corners of the search bar */
    }

    .nav-items {
        background-color: #DBD475;
        align-items: center;
        display: flex;
        margin-block: 10px; /* Adds space above and below the navbar */
        padding: 10px; 
    }

    .nav-items img {
        object-fit: fill;
        width: 70px;
    }

    .avatar {
        width: 40px;
    }

    /* Footer styling */
    .footer-company-info {
        text-align: center; 
    }

    .footer-nav ul {
        display: flex;
        padding: 10px;
        margin: 0;
    }

    .footer-nav li {
        margin-right: auto;
    }

    .footer-newsletter input[type=email] {
        padding: 5px;
        border: none;
        border-radius: 5px; 
    }

    .footer-newsletter h5 {
        margin: 10px;
    }

    .footer-company-info,
    .footer-nav,
    .footer-social,
    .footer-newsletter {
        flex: 1; /* Allows the items to grow and fill the available space */
        margin: 10px;
        text-align: center;
    }

    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        background-color: #DBD475;
        margin-block: 10px;
    }
    /* Adding books styling */
    .search-box {
        width: 50%;
        margin: 40px auto;
        padding: 50px;
        border: 2px solid #ddd;
        border-radius: 8px;
        background-color: #f8f8f8;
    }
    
    .search-box input, .search-box textarea {
        display: block;
        width: 95%;
        margin-bottom: 15px;
        padding: 10px;
        font-size: 1em;
        font-family: "Arial";
    }

    .search-box legend {
        font-family: "Arial";
    }
    
    .search-box button {
        padding: 10px 20px;
        font-weight: bold;
        background-color: #0077cc;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    /* Book cards grid layout styling */

    .vetrina h2 {
        text-align: center;
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .book-grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
        gap: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .book-card {
        flex: 0 1 calc(33.333% - 40px);
        box-sizing: border-box;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 15px;
        text-align: left;
        min-height: 200px;
    }

    .book-card button {
        padding: 10px 20px;
        font-weight: bold;
        background-color: #529962;
        color: white;
        border: none;
        border-radius: 5px;
        margin: 20px auto 0 auto;
        display: block;
        cursor: pointer;
    }

    .book-card button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }
   
    
    .book-cover {
        width: 100%;
        height: 250px;
        object-fit:scale-down;
        margin-top: 10px;
        border-radius: 4px;
    }
    
  
    
    /* Flash messages */
    .flash {
        margin: 10px auto;
        padding: 20px;
        border-left: 5px solid;
        width: 40%;
        border-radius: 5px;
        font-weight: bold;
    }
    
    .flash-success {
        background-color: #d4edda;
        border-color: #28a745;
        color: #155724;
    }
    
    .flash-error {
        background-color: #f8d7da;
        border-color: #dc3545;
        color: #721c24;
    }
    
    
