<!DOCTYPE html">
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name = "author" content = "Firas Tabai"> 
        <meta name = "description" content = "Booksters is a free, ad-less, instant e-library where you can discover, share, and review countless books."> 
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <link rel=stylesheet type="text/css" href="../../public/css/style.css">
        <title>Booksters | Because We Are Book Lovers</title>
    </head>
    <body>
        <div class="nav-items">
            <a class="logo" href="#">Insert Logo Here</a>
            <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#MyLibrary">My Library</a></li>
                <li><a href="#About">About</a></li>
            </ul>
            <input type="text" id="searchbar" placeholder="Search...">
                <!-- <li><a href="#Signup">Sign-up</a></li> -->
            <p><a href="#Login">Login</a></p>
            <!-- <img class="avatar" src="../../public/images/avatars/unlogged-avatar.png" alt="Unlogged user avatar"> -->
        </div>
        
        <div class="home-image"> 
            <img src="../../public/images/home-bg.jpg" alt="Lotto di libri su scaffali in legno nero"> 
            <h1>Welcome to Booksters</h1>
            <h3>Your pocket library</h3>
        </div>
        
        <!-- 
        <div class="page-content">
            <h2>About Us</h2>
            <p>Booksters is a free, ad-less, instant e-library where you can discover, share, and review countless books.</p>
        </div>
        -->
        

        <footer>
            <div class="footer-company-info">
                <p>
                Contact us: <a href="info@booksters.com">info@booksters.com</a>
                </p>
            </div>
            <div class="footer-nav">
                <ul>
                    <li><a href="#Home">Home</a></li>
                    <li><a href="#MyLibrary">My Library</a></li>
                    <li><a href="#About">About</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <a href="https://www.facebook.com"><img src="public/images/facebook-icon.png" alt="Facebook"></a>
                <a href="https://www.twitter.com"><img src="public/images/twitter-icon.png" alt="Twitter"></a>
                <a href="https://www.linkedin.com"><img src="public/images/linkedin-icon.png" alt="LinkedIn"></a>
            </div>
            <div class="footer-newsletter">
                <h5> Subscribe to our newsletter: </h5>
                <form action="/subscribe" method="post">
                    <input type="email" id="subscriber-email" name="email" placeholder="Enter your email">
                    <button type="button">Subscribe</button>
                </form>
            </div>
        </footer>
    </body>
</html>
